

ul {
    list-style: none;
}

ul a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero, .footer {
    background-color: #1F2937;
}

.heroh {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.subhero, .hlinks {
    font-size: 18px;
    color: #E5E7EB;
}

.callbox {
    background-color: #3882F6;
}

.info {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.quote {
    background-color: #E5E7EB;
}

.citation {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}